<header id="header" class="navbar navbar-expand-lg navbar-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/images/logo.png" alt="MovieFlx" class="header-logo me-2" style="height: 40px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-white" href="#">Início</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Séries</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Filmes</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Originais</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Novidades</a></li>
                <li class="nav-item"><a class="nav-link text-white" routerLinkActive="active" [routerLink]="'/novo-filme'">Novo Filme</a></li>
            </ul>
            <form class="d-flex align-items-center me-3 my-2 my-lg-0 w-lg-auto" role="search">
                <div class="input-group">
                    <span class="input-group-text bg-dark border-0 search-addon" id="search-addon">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control bg-dark border-0 text-white search-input text-center" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
            <img src="/images/profile.png" alt="Avatar" class="header-avatar ms-2" style="height: 40px; width: 40px; object-fit: cover; border-radius: 50%;" />
        </div>
    </div>
</header>