<div class="movie-card">
	<span class="badge-top10" *ngIf="top10">TOP 10</span>
	<h2 class="movie-title">{{ title }}</h2>
	<p class="movie-desc">{{ description }}</p>
	<div class="movie-infos d-flex align-items-center flex-wrap gap-3 mb-3">
		<span class="info-item" *ngIf="duration">🕓{{ duration }}</span>
		<span class="info-item" *ngIf="ageRating">{{ageRatingSymbol}}{{ ageRating }}</span>
		<span class="info-item {{approvalRatingColor}}" *ngIf="approval">🏆{{ approval }}</span>
	</div>
    <div class="service-logo" *ngIf="serviceLogo">
        <img [src]="serviceLogo" [alt]="serviceName || 'Serviço'" />
    </div>
</div>
