<app-header/>
<div class="buttons-container">
    <a class="btn btn-danger" routerLinkActive="active" [routerLink]="'/novo-filme'">Cadastrar Novo Filme</a>
</div>
<hr/>
<div class="cards-container">
  <app-card *ngFor="let movie of movies"
    [title]="movie.title"
    [description]="movie.description"
    [duration]="movie.duration"
    [ageRating]="movie.ageRating"
    [approval]="movie.approval"
    [top10]="movie.top10"
    [serviceLogo]="movie.serviceLogo"
    [serviceName]="movie.serviceName"
  ></app-card>
</div>