<app-header/>
<div style="margin-top:80px;">
    <hr/>
</div>
<div class="teste d-flex flex-wrap">
    <app-card
        [title]="'Casablanca'"
        [description]="'Durante a Segunda Guerra Mundial, um exilado americano precisa escolher entre o amor da sua vida e ajudar um líder da resistência.'"
        [duration]="'1:30h'"
        [ageRating]="'+18'"
        [approval]="'67% Aprovação'"
        [top10]="true"
        [serviceLogo]="'images/partners/netflix.png'"
        [serviceName]="'Netflix'"
    ></app-card>
    <app-card
        [title]="'O Senhor dos Anéis'"
        [description]="'Um hobbit embarca em uma jornada épica para destruir um anel poderoso.'"
        [duration]="'3:21h'"
        [ageRating]="'Livre'"
        [approval]="'95% Aprovação'"
        [top10]="true"
        [serviceLogo]="'images/partners/prime-video.png'"
        [serviceName]="'Prime Video'"
    ></app-card>
    <app-card
        [title]="'Stranger Things'"
        [description]="'Um grupo de amigos enfrenta eventos sobrenaturais em sua pequena cidade.'"
        [duration]="'8x50min'"
        [ageRating]="'12 anos'"
        [approval]="'93% Aprovação'"
        [top10]="false"
        [serviceLogo]="'images/partners/netflix.png'"
        [serviceName]="'Netflix'"
    ></app-card>
    <app-card
        [title]="'The Boys'"
        [description]="'Super-heróis corruptos enfrentam um grupo de vigilantes determinados a expor a verdade.'"
        [duration]="'3x60min'"
        [ageRating]="'+18'"
        [approval]="'89% Aprovação'"
        [top10]="false"
        [serviceLogo]="'images/partners/prime-video.png'"
        [serviceName]="'Prime Video'"
    ></app-card>
    <app-card
        [title]="'The Boys'"
        [description]="'Super-heróis corruptos enfrentam um grupo de vigilantes determinados a expor a verdade.'"
        [duration]="'3x60min'"
        [ageRating]="'+18'"
        [approval]="'89% Aprovação'"
        [top10]="false"
        [serviceLogo]="'images/partners/claro.png'"
        [serviceName]="'Claro TV'"
    ></app-card>
    <app-card
        [title]="'The Boys'"
        [description]="'Super-heróis corruptos enfrentam um grupo de vigilantes determinados a expor a verdade.'"
        [duration]="'3x60min'"
        [ageRating]="'+16'"
        [approval]="'89% Aprovação'"
        [top10]="false"
        [serviceLogo]="'images/partners/apple-tv.png'"
        [serviceName]="'Apple TV'"
    ></app-card>
</div>